/* Color Pallete

#272a31
#ec5242
#d3d3d3 

*/

/* General Styles
************************** */

@font-face {
  font-family: 'cocogoose';
  src: url('fonts/Cocogoose.otf');
}
  
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
  color: #272a31;
}

.fa-bars,
.fa-x,
.tw {
  width: 8vw;
}

.fa-bars {
  margin: 4vw 0 3vw 4vw;
}

.hidden {
  display: none;
}

hr {
  border: 1px solid #ec5242;
  width: 14vw;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Header Styles
************************** */


/* Footer Styles
************************** */

.footer {
  padding: 40px 0 40px;
}

.home-footer-container {
  display: flex;
}

.footer img {
  width: 40vw;
  margin: 5vw 5vw;
}

.footer-content {
  width: 45vw;
}

.footer-content a {
  font-size: 2.5vw;
}

.home.footer-content a {
  color: #272a31;
}

/* About Footer Section Styles
*********************************/

.footer.about {
  background: #272a31;
  color: #f2f1f1;
}

.about.footer-content a {
  color:#f2f1f1;
}

/* Intro Section Styles
************************** */

.intro-subheading {
  font-weight: 400;
  color: #ec5242;
  font-size: 6vw;
}

h1 {
  font-family: 'cocogoose', sans-serif;
  font-size: 9vw;
  color: #ec5242;
  margin: 0 0.5rem;
  filter: opacity(0.9);
}

h1 + p {
  padding: 10px;
}

h1 + p.home {
  background-color: #f2f1f1;
  border: 2px solid white;
}

h1 + p.about {
  background-color: white;
} 

p.time {
  font-family: 'cocogoose', sans-serif;
  font-size: 5.5vw;
}

.intro p {
  margin: 0.5rem;
}

.intro {
  background-image: url('graphics/bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 120vw;
}

.intro-container {
  width: 84%;
  margin: 0 auto;
}


/* Goals Section Styles
************************** */

.goals {
  background-image: url('graphics/bg-repeat.png');
  background-repeat: repeat;
  background-size: 5vw;
  padding: 3vw;
}

.goals img {
  width: 18vw;
}

.goals h2,
.goals p {
  color: #f2f1f1;
  font-weight: 400;
}

.goals h2 {
  font-size: 6vw;
  text-align: center;
  margin: 2vw 0 0;
}

.goal {
  background-color: hsla(0, 0%, 83%, 0.2);
  display: flex;
  align-items: center;
  padding: 3vw;
  margin: 15px 5vw;
}

.goal p {
  width: 34vw;
}

.action {
  color: #ec5242;
  font-size: 5vw;
  width: 20vw;
  margin: 0 2.5vw;
}

.agenda a {
  display: inline-block;
  color: #f2f1f1;
  text-decoration: none;
  font-size: 4.5vw;
  text-align: center;
  background-color: #ec5242;
  padding: 4vw;
  width: 100%;
}

.agenda {
  width: 70vw;
  margin: 8vw auto;
}


/* Speakers Section Styles
************************** */

.speaker {
  display: flex;
  margin-bottom: 6vw;
  justify-content: space-between;
}

.speaker-content {
  width: 60vw;
}

.speaker h3 {
  margin: 0 0 2vw;
  font-size: 4vw;
}

.speakers h2 {
  font-size: 5vw;
  text-align: center;
  margin: 6vw 0 0;
}

.speaker-subheading {
  margin: 0 0 4vw 0;
  font-size: 3vw;
  color: #ec5242;
}

.speaker-img-container {
  position: relative;
  width: 37vw;
  height: 25vw;
}

.brain {
  width: 15vw;
  position: absolute;
  top: 2vw;
}

.speaker-img {
  width: 25vw;
  position: absolute;
  top: 0;
  right: 0;
}

.speaker p {
  margin: 2vw 0;
}

.speakers > hr {
  margin-bottom: 8vw;
}

.speaker hr {
  border: 1px solid #272a31;
  margin-left: 0;
  width: 4vw;
}

/* Organizers Section Styles
************************** */

.organizers {
  background-color: #272a31;
  padding: 30px 30px 50px;
}

.organizers img {
  width: 150px;
}

.organizers h2 {
  color: #f2f1f1;
  font-size: 5vw;
  text-align: center;
  margin: 0;
}

.organizers hr {
  margin-bottom: 6vw;
}

.organizers ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 4vw;
}
